section.Header {
  height: 64px;
  background-color: white;
  font-family: Segoe UI;
  font-size: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

section.Header img {
  height: 44.8px;
  margin-top: 9px;
  padding-left: 30px;
}

section.Header nav ul {
  list-style: none;
  padding: 0;
  padding-top: 12px;
  cursor: default;
}

section.Header nav ul li {
  display: inline-block;
  padding: 0px 20px;
}

section.Header nav ul li a {
  color: #586C6E;
  cursor: pointer;
}

section.Header nav ul li:first-child a {
  border-bottom: solid 3px #045B4B;
}
